<div class="container">
    <div class="ui-g">
        <form autocomplete="off" (ngSubmit)="pesquisar()">
            <div class="ui-g-12">
                <h1>Pessoas</h1>
            </div>

            <div class="ui-g-12 ui-fluid">
                <label>Nome</label>
                <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Pesquisar"></button>
                <!-- <p-button label="Pesquisar"></p-button> -->
            </div>
        </form>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
            <p-table #tabela [value]="pessoas" [paginator]="true" [responsive]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Status</th>
                        <th class="col-acoes-header"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pessoa>
                    <tr>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.endereco.cidade}}</td>
                        <td>{{pessoa.endereco.estado}}</td>
                        <td class="col-status-content">
                            <a href="javascrip:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top" (click)="mudarStatus(pessoa)">
                                {{pessoa.ativo ? 'Ativo' : 'Inativo'}}
                            </a>
                        </td>
                        <td class="col-acoes">
                            <a class="espaco-icones" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                            <button class="espaco-icones" pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(pessoa)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    Nenhuma pessoa encontrada
                </ng-template>
            </p-table>
        </div>
        <div class="ui-g-12">
            <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
        </div>
    </div>
</div>